* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0F1624;
    overflow-x: hidden;
}

.header {
    height: 100px;
    font-size: large;
    margin-left: 60px;
    font-family:'Poppins', sans-serif;  
}
.ellipse1 {
    left: 40px;
    top: 24px;
}
.flex_header {
    align-items: center;
    display: flex;
    
}
.flex_header_icon {
    width: 50px;
    display: flex;
    
}
.flex_header_icon h3 {
    font-size: 30px;
    Line-height: 100%;
    color: #fff;
    width: 120px;
    margin-top: 5px;
    margin-left: 24px;
    
}
.flex_header_tag {
    display: flex;
    height: 50px;
    width: 900px;
    justify-content: center;
    
}
.flex_header_tag a {
    text-decoration: none;
    padding: 10px 10px;
    color: #fff;
    font-size: 20px; 
    max-height: 50px;
    flex-shrink: 0;
    margin: 0px 20px;
    line-height: 27px;
   

}
.wrapper {
    padding: 0 40px 0 40px;
    margin: 0 auto;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    position: relative;
}
.flex_logos {
    padding-right: 15px;
    display: flex;

    /* justify-content: flex-end; */
}
.flex_logos img {
     padding: 20px;
}
.content {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-right: 100px;
    font-family:'Poppins', sans-serif;
}
.flex_content_text {
    margin: 210px 0 0 80px;
    height: 400px;
}
.flex_content_text h2 {
    color: #fff;
    text-align: center;
    width: 600px;
    margin-left: 340px;
    font-size: 42px;
}
.flex_content_text p {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    margin-top: 60px;
    margin-left: 353px;
}
.flex_content_text a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    margin-top: 60px;
    display: inline-block;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    width: 280px;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    margin-left: 335px;
}
.flex_content_image {
    position: absolute;
    right: -257px;
    top: 36px;
}
h2 {
    display: inline-block;
    text-decoration: none;
    background-image:  linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    background-position: 50% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
  }
  /* Sukuriamas hover efektas */
div h2:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    background-size: 100% 4px;
}
div h2:after { 
    content: "";
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  h3 {
    display: inline-block;
    text-decoration: none;
    background-image:  linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    background-position: 50% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
  }
  /* Sukuriamas hover efektas */
div h3:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    background-size: 100% 4px;
}
div h3:after { 
    content: "";
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
}
  a {
    display: inline-block;
    text-decoration: none;
    background-image:  linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    background-position: 50% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
  }
  a:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    background-size: 100% 4px;
  }
  a:after { 
    content: "";
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  